h1{
	text-align: center;
	color: red;
	font-size: 25px;
}

div {
	height: 100px;
	widows: 100px;
	text-align: center;
	line-height: 100px;
	border: 1px solid red;
	float: right
}

img {
	height: 250px;
	width: 250px;
}

.content_p{
	font-size: 18px;
	color: black;
	line-height: 25px;
	text-indent: 2em;
}